.container{
    display: flex;
    justify-content: center;
    align-items: center;
}
.color_name{
    color: white;
    text-align: center;
    margin: 10px auto;
    font-size: 1.4em;
    text-transform: capitalize;
}