*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background: #071415;
}

h1{
  color: azure;
  text-align: center;
}
.header h1, .title h1{ 
  text-align: left;
  padding: 20px;
}

.App{
  background: #071415;
  height: 100vh;
}
.container{
  padding:50px ;
  display: flex;
  /* justify-content:space-evenly; */
  justify-content: flex-start;
  margin: 0 20px;
  flex-wrap: wrap;
}

.card{
  margin: 12px;
  transition: all 2000ms ease-in-out;
}
/* .card :hover{
  transform: scale(1.2);
} */
.para{
  margin: 0.75em 2.5em;
  font-weight: 600;
  cursor: pointer;
  

}
.box{
  width: 10em;
  height: 16em;
  border-radius: 12px;
  cursor: pointer;
  transition: all 0.3s ease-in-out;
}
.box:hover{
  transform: scale(1.1);
}